
@model Test.Models.faculty
<form action="Edit" method="post">
    <div>
        @Html.HiddenFor(e => e.Id) 
        <label>@Html.DisplayNameFor(e => e.Name)</label>
        @Html.TextBoxFor(e => e.Name)
    </div>
    <div>
        <label>@Html.DisplayNameFor(e => e.Department)</label>
        @Html.TextBoxFor(e => e.Department)
    </div>
    <div>
        <label>@Html.DisplayNameFor(e => e.Email)</label>
        @Html.TextBoxFor(e => e.Email, new { type = "email" }) 
    </div>
    <div>
        <label>@Html.DisplayNameFor(e => e.PhoneNumber)</label>
        @Html.TextBoxFor(e => e.PhoneNumber, new { type = "tel" })
    </div>

    
    <div><input type="submit" class="btn btn-primary" /></div>
</form>